<!DOCTYPE html>
<html ng-app="PPLOAD_MASTER" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

	<!-- CSS -->
		<!-- lib -->
		<link href="assets/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
		<link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<!-- app -->
		<link href="assets/master/css/style.css" rel="stylesheet" type="text/css"/>
	<!-- /CSS -->

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">
               
    <!-- loading -->
    <div id="main-loading" layout="column" ng-show="loading" flex>
        <div layout="column" flex="100" style="text-align:center;">
            <span><b ng-bind="msg"></b></span>
        </div>
        <div layout="row" flex="100" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
    <!-- /loading -->

    <!-- wrapper -->
    <div id="wrapper" ng-class="{toggled:toggled}" ng-if="!loading">
        
        <!-- sidebar -->
        <sidebar></sidebar>
        <!-- /sidebar -->

        <!-- page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="padding-left: 0px">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <!-- HEADER -->
                        <site-header></site-header>
                        <!-- /HEADER -->

                        <!-- MAIN -->
                        <section flex layout="column" layout-padding class="container" style="padding-top: 50px;">  
         
                            <!-- channel info -->
                            <div id="channel-info" ng-if="channel">
                                <h2>{{channel.channel_name}}</h2>
                                <div class="description">
                                    <figure>
                                        <img ng-if="channel.logo_src" ng-src="{{channel.logo_src}}"/>
                                    </figure>
                                    <span class="items-counter">
                                        <span ng-if="channel.videos">
                                            {{channel.videos.length}} videos
                                        </span>
                                        <span ng-if="channel.games">
                                            {{channel.games.length}} games
                                        </span>                                        
                                    </span>
                                </div>
                            </div>
                            <!-- /channel info -->

                            <!-- home page items section -->
                            <md-content ng-hide="loading" flex layout-padding class="section" id="hp-items-section">
                                
                                <!--Welcome -->
                                <div id="welcomeInfo" ng-hide="channel" style="height:150px; width: 100%; display: block; text-align: center;">
                                    <h1>    Welcome to IFS - Intergalactic File Server </h1>
                                    <br/>
                                     <h4>   
                                        Please read FAQ to join
                                    </h4>
                                </div>
                                <!--/Welcome -->

                                <!-- filter info -->
                                <div id="filter-info" ng-if="ppFilter">
                                    <span class="search-tag" ng-if="ppFilter.title">title:{{ppFilter.title}}</span>
                                    <span class="search-tag" ng-if="ppFilter.file_type">file type: {{ppFilter.file_type}}</span>
                                    <span class="search-tag" ng-if="ppFilter.media_type">media type: {{ppFilter.media_type}}</span>
                                </div>
                                <!-- /filter info -->
                
                            	<!-- games -->
                            	<div  ng-if="(games|filter:ppFilter).length"  id="game-list-container">
                        	    	<h2>Games</h2>
                        	    	<hr/>
                        			<game-list></game-list>
                        		</div>
                        	    <!-- /games -->		    
                        	    <!-- videos -->
                        	    <div ng-if="(videos|filter:ppFilter).length" id="video-list-container">
                        	    	<h2>Videos</h2>
                        	    	<hr/>
                        	    	<video-list ng-if="videos"></video-list>
                        	    </div>
                        	    <!-- /videos -->
                            </md-content>
                            <!-- / home page items section -->

                        </section>
                        <!-- /MAIN -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /page Content -->
    </div>
    <!-- /wrapper -->

	<!-- JS -->

		<!-- zeronet -->
		<script type="text/javascript" src="assets/lib/zeronet/class.js"></script>
		<script type="text/javascript" src="assets/lib/zeronet/zeroframe.js"></script>
		<script type="text/javascript" src="assets/lib/zeronet/zerochat.js"></script>
    
		<!-- jquery -->
		<script type="text/javascript" src="assets/lib/jquery/jquery.min.js"></script>

		<!-- angular -->		
		<script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-route.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-animate.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-aria.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="assets/lib/moment/moment.js"></script>
		<script type="text/javascript" src="assets/lib/angular-moment/angular-moment.min.js"></script>
	    <script type="text/javascript" src="assets/lib/identicon/pnglib.js"></script>
	    <script type="text/javascript" src="assets/lib/identicon/identicon.js"></script>
	    <script type="text/javascript" src="assets/lib/angular-identicon/angular-identicon.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular-fullscreen/angular-fullscreen.js"></script>
        <script type="text/javascript" src="assets/lib/util/dirPagination.js"></script>

		<!-- videogular -->
		<script type="text/javascript" src="assets/lib/videos/videogular/videogular.js"></script>
		<script type="text/javascript" src="assets/lib/videos/videogular-controls/vg-controls.js"></script>
		<script type="text/javascript" src="assets/lib/videos/videogular-buffering/vg-buffering.js"></script>
		<script type="text/javascript" src="assets/lib/videos/videogular-overlay-play/vg-overlay-play.js"></script>
		<script type="text/javascript" src="assets/lib/videos/videogular-poster/vg-poster.js"></script>

		<!-- app core -->
		<script type="text/javascript" src="app/application.js"></script>		
		<script type="text/javascript" src="app/master/core/controllers/main.ctrl.js"></script>
		<script type="text/javascript" src="app/master/core/directives/site-config.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/sidebar.directive.js"></script>
		<script type="text/javascript" src="app/master/core/directives/site-header.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/site-search.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/channel-register.directive.js"></script>
		<script type="text/javascript" src="app/master/core/directives/comments.directive.js"></script>
		<script type="text/javascript" src="app/master/core/directives/votes.directive.js"></script>
		<script type="text/javascript" src="app/master/core/directives/views.directive.js"></script>
        <script type="text/javascript" src="app/master/core/services/item.service.js"></script>
        <script type="text/javascript" src="app/master/core/services/channel.service.js"></script>
		<script type="text/javascript" src="app/master/core/filters/file-size.filter.js"></script>

		<!-- app games -->	
		<script type="text/javascript" src="app/master/games/directives/game-list.directive.js"></script>

		<!-- app videos -->	
		<script type="text/javascript" src="app/master/videos/directives/video-list.directive.js"></script>

	<!-- /JS -->

</body>

</html>
