<!DOCTYPE html>
<html ng-app="PPLOAD_MASTER" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <!-- CSS -->

        <!-- lib -->
        <link href="assets/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
        <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>  
        <link href="assets/fonts/fonts1.css" rel="stylesheet" type="text/css"/>  

        <!-- app -->
        <link href="assets/master/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="assets/channel/css/style.css" rel="stylesheet" type="text/css"/>        
    <!-- /CSS -->

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">
               
    <!-- loading -->
    <div id="main-loading" layout="column" ng-show="loading" flex>
        <div layout="column" flex="100" style="text-align:center;">
            <span><b ng-bind="msg"></b></span>
        </div>
        <div layout="row" flex="100" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
    <!-- /loading -->

    <!-- wrapper -->
    <div id="wrapper" ng-class="{toggled:toggled}" class="w{{route}}">
        <!-- sidebar -->
        <sidebar ng-if="!loading"></sidebar>
        <!-- /sidebar -->
        <!-- page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="padding-left: 0px">
                <!-- HEADER -->
                <site-header></site-header>
                <!-- /HEADER -->
                <!-- MAIN -->
                <section ng-if="route === 'main'" flex layout="column" layout-padding style="padding:0;" ng-if="!loading">  

                    <!-- channel info -->
                    <section class="wrap-section" id="channel-info" ng-if="channel">
                        <section class="container">
                            <h2>{{channel.channel_name}}</h2>
                            <div class="description">
                                <figure ng-init="getChannelLogoPath(channel)"><img ng-if="channel.logo_file" ng-src="{{channel.logo_path}}"/></figure>
                            </div>
                        </section>
                    </section>
                    <!-- /channel info -->

                    <!-- welcome -->
                    <section class="wrap-section" id="welcome-section" ng-hide="channel" >
                        <section class="container">
                            <div id="welcomeInfo" style="height:150px; width: 100%; display: block; text-align: center;">
                                <h1>Welcome to IFS - Intergalactic File Server</h1>
                                <br/>
                                 <h4>Please read FAQ to join</h4>
                            </div>
                        </section>
                    </section>
                    <!-- /welcome -->

                    <!-- item listing by media type -->
                    <section class="wrap-section main-listing-container" ng-if="config.listing.type === 'by content type' && site_ready">
                       <md-content class="container">
                            <items></items>
                        </md-content>
                    </section>
                    <!-- /item listing by media type -->
                </section>
                <!-- /MAIN -->
                <!-- CHANNELS -->
                <section ng-if="route === 'channels' && site_ready" id="channel-register-view" layout="column" class="container" style="padding-top: 50px;">
                    <main flex="100" layout-padding>
                        <!-- CHANNELS -->
                        <md-content  class="container md-whiteframe-1dp" id="channels-section" layout="column" layout-padding>
                            <channel-register-list> </channel-register-list>
                        </md-content>
                        <!-- /CHANNELS -->
                    </main>
                </section>
                <!-- /CHANNELS -->
                <!-- ITEM -->
                <item-view ng-if="route === 'item' && site_ready"></item-view>
                <!-- /ITEM -->
                <!-- USER -->
                <user-view ng-if="route === 'user' && site_ready"></user-view>
                <!-- /USER -->
                <!-- ADMIN -->
                <admin-view ng-if="route === 'admin' && site_ready"></admin-view>
                <!-- /ADMIN -->
                <!-- 404 -->
                <div ng-if="route === '404'" id="file-not-found">
                </div>
                <!-- /404 -->
            </div>
        </div>
        <!-- /page Content -->
    </div>
    <!-- /wrapper -->

    <!-- info message -->
    <info-message ng-if="show_info_msg"></info-message>
    <!-- info message -->

    <!-- JS -->

        <!-- zeronet -->
        <script type="text/javascript" src="assets/lib/zeronet/class.js"></script>
        <script type="text/javascript" src="assets/lib/zeronet/zeroframe.js"></script>
        <script type="text/javascript" src="assets/lib/zeronet/zerochat.js"></script>

        <!-- bitcoinjs -->
        <script type="text/javascript" src="assets/lib/bitcoinjs/bitcoinjs.min.js"></script>
    
        <!-- jquery -->
        <script type="text/javascript" src="assets/lib/jquery/jquery.min.js"></script>  

        <!-- masonry -->
        <script type="text/javascript" src="assets/lib/angular-masonry/jquery-bridget.js"></script>  
        <script type="text/javascript" src="assets/lib/angular-masonry/ev-emitter.js"></script>
        <script type="text/javascript" src="assets/lib/angular-masonry/matches-selector.js"></script>
        <script type="text/javascript" src="assets/lib/angular-masonry/utils.js"></script>
        <script type="text/javascript" src="assets/lib/angular-masonry/get-size.js"></script>
        <script type="text/javascript" src="assets/lib/angular-masonry/item.js"></script>
        <script type="text/javascript" src="assets/lib/angular-masonry/outlayer.js"></script>
        <script type="text/javascript" src="assets/lib/angular-masonry/masonry.js"></script>

        <!-- optional -->
        <script type="text/javascript" src="assets/lib/angular-masonry/imagesloaded.js"></script>

        <!-- angular -->        
        <script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="assets/lib/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="assets/lib/angular/angular-animate.min.js"></script>
        <script type="text/javascript" src="assets/lib/angular/angular-aria.min.js"></script>
        <script type="text/javascript" src="assets/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="assets/lib/angular-material/angular-material.min.js"></script>
        <script type="text/javascript" src="assets/lib/moment/moment.js"></script>
        <script type="text/javascript" src="assets/lib/angular-moment/angular-moment.min.js"></script>
        <script type="text/javascript" src="assets/lib/identicon/pnglib.js"></script>
        <script type="text/javascript" src="assets/lib/identicon/identicon.js"></script>
        <script type="text/javascript" src="assets/lib/dropzone/dropzone.js"></script>        
        <script type="text/javascript" src="assets/lib/angular-identicon/angular-identicon.min.js"></script>
        <script type="text/javascript" src="assets/lib/angular-filter/angular-filter.min.js"></script>
        <script type="text/javascript" src="assets/lib/angular-fullscreen/angular-fullscreen.js"></script>
        <script type="text/javascript" src="assets/lib/util/dirPagination.js"></script>
        <script type="text/javascript" src="assets/lib/angular-masonry/angular-masonry.min.js"></script>

        <!-- jszip - reading zip files -->
        <script type="text/javascript" src="assets/lib/jszip/dist/jszip.min.js"></script>
        <script type="text/javascript" src="assets/lib/jszip/dist/jszip.utils.js"></script>
        <script type="text/javascript" src="assets/lib/epubjs/epub.min.js"></script>

        <!-- videogular -->
        <script type="text/javascript" src="assets/lib/videos/videogular/videogular.js"></script>
        <script type="text/javascript" src="assets/lib/videos/videogular-controls/vg-controls.js"></script>
        <script type="text/javascript" src="assets/lib/videos/videogular-buffering/vg-buffering.js"></script>
        <script type="text/javascript" src="assets/lib/videos/videogular-overlay-play/vg-overlay-play.js"></script>
        <script type="text/javascript" src="assets/lib/videos/videogular-poster/vg-poster.js"></script>

        <!-- app core -->
        <script type="text/javascript" src="app/application.js"></script>       
        
        <script type="text/javascript" src="app/master/core/controllers/main.ctrl.js"></script>

        <script type="text/javascript" src="app/master/core/directives/categories.directive.js"></script>   
        <script type="text/javascript" src="app/master/core/directives/channels.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/channel-register-list.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/comments.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/moderators.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/moderations.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/votes.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/site-config.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/sidebar.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/site-header.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/user-menu.directive.js"></script>

        <script type="text/javascript" src="app/master/core/directives/admin-view.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/comment-form.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/items.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/item-list.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/item-view.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/item-view-details.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/item-view-comments.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/item-view-embed.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/info-message.directive.js"></script>
        <script type="text/javascript" src="app/master/core/directives/related-item-list.directive.js"></script>
        
        <script type="text/javascript" src="app/master/core/filters/imgonload.filter.js"></script>
        <script type="text/javascript" src="app/master/core/filters/file-size.filter.js"></script>
        <script type="text/javascript" src="app/master/core/filters/start-from.filter.js"></script>
        <script type="text/javascript" src="app/master/core/filters/time-filter.filter.js"></script>

        <script type="text/javascript" src="app/master/core/services/central.service.js"></script>
        <script type="text/javascript" src="app/master/core/services/channel.service.js"></script>
        <script type="text/javascript" src="app/master/core/services/file.service.js"></script>
        <script type="text/javascript" src="app/master/core/services/item.service.js"></script>
        <script type="text/javascript" src="app/master/core/services/keyboard.service.js"></script>
        <script type="text/javascript" src="app/master/core/services/moderation.service.js"></script>
        <script type="text/javascript" src="app/master/core/services/user.service.js"></script>
        <script type="text/javascript" src="app/master/core/services/vote.service.js"></script>

        <script type="text/javascript" src="app/channel/core/controllers/main.ctrl.js"></script>
        <script type="text/javascript" src="app/channel/core/controllers/items.ctrl.js"></script>

        <script type="text/javascript" src="app/channel/core/directives/channel-edit.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/channel-register.directive.js"></script>    
        <script type="text/javascript" src="app/channel/core/directives/channel-site-header.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/dropzone.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/file-list.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/files-upload.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/side-bar.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/edit-item.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/image-upload.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/item-form.directive.js"></script>       
        <script type="text/javascript" src="app/channel/core/directives/user-side-bar.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/user-view.directive.js"></script>
        <script type="text/javascript" src="app/channel/core/directives/zip-content.directive.js"></script>

        <script type="text/javascript" src="app/channel/core/filters/file-size.filter.js"></script>

        <!-- app images -->
        <script type="text/javascript" src="app/master/images/directives/image-view.directive.js"></script>
        <script type="text/javascript" src="app/master/images/directives/image-list-sidebar.directive.js"></script>
        <script type="text/javascript" src="app/channel/images/directives/image-interface.directive.js"></script>

        <!-- app games -->
        <script type="text/javascript" src="app/master/games/directives/game-list-sidebar.directive.js"></script>
        <script type="text/javascript" src="app/master/games/directives/game-view.directive.js"></script>
        <script type="text/javascript" src="app/channel/games/directives/executable-file-input.directive.js"></script>
        <script type="text/javascript" src="app/channel/games/directives/game-interface.directive.js"></script>

        <!-- atari -->
        <script type="text/javascript" src="assets/lib/games/javatari/javatari.js"></script>
        <script type="text/javascript" src="app/master/games/directives/atari-emulator.directive.js"></script>

        <!-- cpc -->
        <script type="text/javascript" src="assets/lib/cpcbox/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="assets/lib/cpcbox/jquerytools.rangeinput.js"></script>
        <script type="text/javascript" src="assets/lib/cpcbox/inflate.js"></script>
        <script type="text/javascript" src="assets/lib/cpcbox/cpcbox.sysroms.js"></script>
        <script type="text/javascript" src="assets/lib/cpcbox/cpcbox.decrypted.js"></script>
        <script type="text/javascript" src="app/master/games/directives/cpc-emulator.directive.js"></script>

        <!-- dos -->
        <script type="text/javascript" src="assets/lib/games/js-dos/js-dos.js"></script>
        <script type="text/javascript" src="app/master/games/directives/dosbox.directive.js"></script>

        <!-- nes -->
        <script type="text/javascript" src="assets/lib/games/nes/lib/dynamicaudio-min.js"></script>
        <script type="text/javascript" src="assets/lib/games/nes/nes.js"></script>
        <script type="text/javascript" src="assets/lib/games/nes/utils.js"></script>
        <script type="text/javascript" src="assets/lib/games/nes/cpu.js"></script>
        <script type="text/javascript" src="assets/lib/games/nes/keyboard.js"></script>
        <script type="text/javascript" src="assets/lib/games/nes/mappers.js"></script>
        <script type="text/javascript" src="assets/lib/games/nes/papu.js"></script>
        <script type="text/javascript" src="assets/lib/games/nes/ppu.js"></script>
        <script type="text/javascript" src="assets/lib/games/nes/rom.js"></script>
        <script type="text/javascript" src="assets/lib/games/nes/ui.js"></script>
        <script type="text/javascript" src="app/master/games/directives/nes-emulator.directive.js"></script>

        <!-- app videos -->
        <script type="text/javascript" src="app/channel/videos/directives/video-interface.directive.js"></script>
        <script type="text/javascript" src="app/master/videos/directives/video-list-sidebar.directive.js"></script>
        <script type="text/javascript" src="app/master/videos/directives/video-player.directive.js"></script>
        <script type="text/javascript" src="app/master/videos/directives/video-view.directive.js"></script>

        <!-- app books -->
        <script type="text/javascript" src="app/master/books/directives/book-view.directive.js"></script>
        <script type="text/javascript" src="app/master/books/directives/book-reader.directive.js"></script>
        <script type="text/javascript" src="app/master/books/directives/pdf-viewer.directive.js"></script>


    <!-- /JS -->

</body>

</html>
