/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* MIXINS */
/* /MIXINS */
/* COLORS */
/* /COLORS */
/** GENERAL **/
*:focus,
*:hover {
  outline: none !important;
  text-decoration: none;
}
html {
  background-color: #f7f7f7;
}
body {
  background-color: #f7f7f7;
  color: #333;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
hr {
  margin-top: 8px;
  padding: 0;
}
button.md-button {
  cursor: pointer;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
button.md-button label,
button.md-button a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  font-weight: normal;
}
md-button {
  cursor: pointer;
}
videogular,
[videogular] {
  max-height: 400px;
}
.md-whiteframe-1dp {
  background-color: white;
}
.md-select-value *:first-child {
  margin-top: -6px;
  font-weight: bold;
}
.md-select-value .md-select-icon {
  margin-top: -6px;
}
md-dialog-content {
  padding: 0 !important;
}
/** /GENERAL **/
/** TEMPLATE **/
#user-channel-wrapper {
  margin-top: 51px;
}
.inner-nav {
  float: left;
  width: 100%;
  padding: 0;
}
.inner-nav button.md-button {
  padding: 5px;
  width: 50px;
  min-width: 50px;
  height: 15px;
  line-height: 15px;
  min-height: 25px;
}
.main-content {
  background-color: #f7f7f7;
}
.main-content md-content + md-content {
  margin-top: 16px;
}
#my-channel-section {
  margin-bottom: 16px;
}
#video-upload-section .video-upload-top {
  height: 90px;
}
#video-upload-section form {
  padding-left: 16px;
}
#video-upload-section canvas {
  width: 100%;
}
#video-upload-section .tags-container {
  padding-bottom: 16px;
}
#video-upload-section .tags-container .tag {
  display: block;
  padding: 5px 25px 5px 5px;
  background: #337ab7;
  float: left;
  color: white;
  position: relative;
  margin-right: 8px;
}
#video-upload-section .tags-container .tag .glyphicon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
  display: block;
  text-align: center;
  line-height: 30px;
  background: white;
  color: #337ab7;
  cursor: pointer;
}
.header {
  padding: 4px;
  min-height: 150px;
}
.header .channel-header-top {
  width: 100%;
  float: left;
  padding-left: 110px;
  position: relative;
  height: 90px;
  margin-bottom: 20px;
}
.header .channel-header-top figure.logo {
  background-image: url('../img/x-avatar.png');
  background-size: contain;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  float: left;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-top-right-radius: 100%;
  -webkit-border-bottom-right-radius: 100%;
  -webkit-border-bottom-left-radius: 100%;
  -webkit-border-top-left-radius: 100%;
  -moz-border-radius-topright: 100%;
  -moz-border-radius-bottomright: 100%;
  -moz-border-radius-bottomleft: 100%;
  -moz-border-radius-topleft: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .channel-header-top figure.logo img {
  width: 100%;
  height: 100%;
}
.header .channel-header-top .site-title h3 {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
.header .channel-header-top .site-title h3 small {
  color: white;
}
.header .channel-header-top .site-title a.channel-address {
  float: left;
  display: block;
  width: 100%;
  height: 10px;
  line-height: 10px;
}
.header .channel-header-top .site-title a.channel-address small {
  font-size: 10px;
}
.header .channel-header-top .site-title div.channel-description {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
}
.header .channel-header-bottom div.sub-title small {
  float: left;
  width: 100%;
  display: block;
  font-size: 12px;
}
.header .how-to-btn button {
  min-width: 30px;
  width: 20px;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
}
.header .site-logo {
  width: 194px;
  height: 51px;
  float: left;
  margin-right: 10px;
  clear: both;
}
.header .site-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header a {
  color: white;
}
.header a:hover {
  text-decoration: none;
}
.header .pull-right {
  float: right;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header ul li {
  float: left;
  margin-right: 5px;
}
section.container {
  margin-top: 8px;
}
/** /TEMPLATE **/
/** SECTIONS **/
#upload-section {
  background-color: transparent;
}
#upload-section .upload-container .poster-upload {
  margin-bottom: 16px;
}
#upload-section .upload-container .poster-upload img {
  padding: 0;
  width: 100%;
}
#upload-section .upload-container ul.file-details li {
  padding: 0;
  list-style-type: none;
}
.section {
  padding: 12px;
}
#my-channel-section .section-title,
#my-channel-section .section-body,
#my-channel-section hr {
  float: left;
  width: 100%;
}
#my-channel-section .section-title h2 {
  float: left;
  margin-right: 8px;
}
#my-channel-section .section-title a {
  margin: 8px 0 0 0;
  float: right;
  cursor: pointer;
}
#my-channel-section .section-body figure img {
  width: 100%;
}
#my-channel-section .section-body figure button {
  width: 100%;
  height: auto;
  position: relative;
  border: 0;
  padding: 0;
  min-height: 120px;
  margin-bottom: 20px;
}
#my-channel-section .section-body figure button img {
  width: 100%;
  height: auto;
}
#my-channel-section .section-body figure button p {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 50%;
  width: 100%;
}
#my-channel-section .section-body .channel-info {
  padding: 0 8px;
}
#my-channel-section .section-body .channel-info article {
  padding: 0;
}
#my-channel-section .section-body .channel-info md-input-container {
  padding: 0;
}
#items-section .label {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #337ab7;
  font-size: 100%;
}
#items-section .item-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  float: left;
  width: 100%;
}
#items-section .item-list li {
  width: 100%;
  float: left;
  padding: 8px;
  background-color: #f7f7f7;
  color: #337ab7;
}
#items-section .item-list li .item-info {
  float: left;
}
#items-section .item-list li .item-info .title {
  font-weight: bold;
}
#items-section .item-list li .item-options {
  float: right;
}
#items-section .item-list li:nth-child(even) {
  background-color: #337ab7;
  color: white;
}
#items-section .item-list li:nth-child(even) a {
  color: white;
}
.edit-item-view .item-main {
  background-color: transparent;
}
.edit-item-view md-content {
  background-color: transparent;
}
.edit-item-view .md-whiteframe-1dp {
  background-color: white;
}
.edit-item-view aside .item-details {
  display: block;
  float: left;
  height: auto;
  flex: 0;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  box-sizing: content-box;
}
.edit-item-view aside .item-details li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.edit-item-view aside .thumb-image-section {
  display: block;
  float: left;
  height: auto;
  flex: 0;
  margin-top: 8px;
  padding: 8px;
  box-sizing: content-box;
}
.edit-item-view aside .thumb-image-section #dropzone {
  width: 100%;
  height: 150px;
}
.edit-item-view aside .thumb-image-section img {
  width: 100%;
}
.edit-item-view .update-item-button {
  max-height: 20px;
}
/* GAME VIEW PAGE */
#dosbox-section {
  padding: 0;
  position: relative;
}
#dosbox-section .dosbox-container {
  width: 100%;
  height: 400px;
}
#dosbox-section .dosbox-container .dosbox-canvas,
#dosbox-section .dosbox-container .dosbox-overlay,
#dosbox-section .dosbox-container .dosbox-loader {
  width: 100%;
  height: 100%;
}
#dosbox-section .dosbox-container .dosbox-overlay {
  background-size: cover;
}
#dosbox-section .dosbox-container .dosbox-start {
  text-decoration: none;
  margin-bottom: -25px;
}
#dosbox-section .dosbox-container .dosbox-start span {
  display: table;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 5px 5px 5px;
  border: 2px solid #f80;
  text-transform: uppercase;
}
#dosbox-section .fullscreen-btn {
  position: absolute;
  bottom: 12px;
  left: 12px;
  padding: 4px 6px 2px 6px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 2px;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#dosbox-section .fullscreen-btn:hover {
  opacity: 1;
}
#dosbox-section.full .dosbox-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
#dosbox-section.full .dosbox-exit-fullscreen {
  position: fixed;
  top: 20px;
  left: 20px;
  border: 1px solid white;
  width: 150px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
  opacity: 0.5;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#dosbox-section.full .dosbox-exit-fullscreen a {
  color: white;
  padding: 8px;
  width: 100%;
  height: 100%;
  display: block;
}
#dosbox-section.full .dosbox-exit-fullscreen a:hover {
  text-decoration: none;
}
#dosbox-section.full .dosbox-exit-fullscreen:hover {
  opacity: 1;
}
/* VIDEO VIEW */
.video-interface video {
  width: 100%;
  max-height: 400px;
  background-color: black;
}
/* /VIDEO VIEW */
/* MULTIPLE FILE UPLOAD */
md-dialog.upload-dialog {
  width: 800px;
  min-width: 800px;
  height: auto;
  border-radius: 0;
}
md-dialog.upload-dialog md-dialog-content {
  padding: 8px !important;
}
md-dialog.upload-dialog #multiple-files-upload {
  padding: 0px;
}
md-dialog.upload-dialog #multiple-files-upload ul {
  padding: 0;
}
md-dialog.upload-dialog #multiple-files-upload ul li.list-header {
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
md-dialog.upload-dialog #multiple-files-upload ul li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#files-upload > ul {
  padding: 0;
}
#files-upload > ul > li {
  height: auto;
  padding: 2px 0;
}
#files-upload > ul > li .file-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
#files-upload > ul > li .file-category,
#files-upload > ul > li .file-subcategory {
  padding-right: 4px;
}
#files-upload > ul > li .file-category .select-menu-container,
#files-upload > ul > li .file-subcategory .select-menu-container {
  position: relative;
}
#files-upload > ul > li .file-category .select-menu-container .toggle-select-menu,
#files-upload > ul > li .file-subcategory .select-menu-container .toggle-select-menu {
  width: 100%;
  text-align: left;
  background: white;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#files-upload > ul > li .file-category .select-menu-container .toggle-select-menu span.arrow,
#files-upload > ul > li .file-subcategory .select-menu-container .toggle-select-menu span.arrow {
  display: block;
  float: right;
  border-left: 1px solid #ccc;
  padding-left: 5px;
}
#files-upload > ul > li .file-category .select-menu-container .toggle-select-menu span.arrow .glyphicon,
#files-upload > ul > li .file-subcategory .select-menu-container .toggle-select-menu span.arrow .glyphicon {
  top: 2px;
}
#files-upload > ul > li .file-category .select-menu-container .select-menu,
#files-upload > ul > li .file-subcategory .select-menu-container .select-menu {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 10;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border-top: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#files-upload > ul > li .file-category .select-menu-container .select-menu ul,
#files-upload > ul > li .file-subcategory .select-menu-container .select-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#files-upload > ul > li .file-category .select-menu-container .select-menu ul li,
#files-upload > ul > li .file-subcategory .select-menu-container .select-menu ul li {
  width: 100%;
  padding: 0 5px;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#files-upload > ul > li .file-category .select-menu-container .select-menu ul li:hover,
#files-upload > ul > li .file-subcategory .select-menu-container .select-menu ul li:hover,
#files-upload > ul > li .file-category .select-menu-container .select-menu ul li.selected,
#files-upload > ul > li .file-subcategory .select-menu-container .select-menu ul li.selected {
  background-color: #f7f7f7;
}
#files-upload > ul > li .file-category .select-menu-container .select-menu ul li.divider,
#files-upload > ul > li .file-subcategory .select-menu-container .select-menu ul li.divider {
  border-top: 1px solid #ccc;
  height: 0px;
  padding: 0;
}
#files-upload > ul > li .file-category .select-menu-container .select-menu ul li.new-category-form-container,
#files-upload > ul > li .file-subcategory .select-menu-container .select-menu ul li.new-category-form-container {
  height: auto;
  line-height: 0;
  padding: 5px;
}
#files-upload > ul > li .file-category .select-menu-container .select-menu ul li.new-category-form-container input[type="text"],
#files-upload > ul > li .file-subcategory .select-menu-container .select-menu ul li.new-category-form-container input[type="text"] {
  height: 25px;
  padding: 5px;
  font-size: 12px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#files-upload > ul > li .file-category .select-menu-container .select-menu ul li.new-category-form-container button,
#files-upload > ul > li .file-subcategory .select-menu-container .select-menu ul li.new-category-form-container button {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#files-upload > ul > li .file-category .select-menu-container.active .toggle-select-menu,
#files-upload > ul > li .file-subcategory .select-menu-container.active .toggle-select-menu {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#files-upload > ul > li .file-category .select-menu-container.active .select-menu,
#files-upload > ul > li .file-subcategory .select-menu-container.active .select-menu {
  display: block;
}
#files-upload > ul > li .file-actions {
  padding: 3px;
}
#files-upload > ul > li .errors span {
  color: red;
  font: 12px;
}
#files-upload > ul > li.list-header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
/* /MULTIPLE FILE UPLOAD */
/* FILE LIST */
#file-list .select-channel {
  width: 100%;
  margin-bottom: 20px;
}
#file-list .select-channel label {
  float: left;
  display: block;
  line-height: 30px;
  margin-right: 10px;
  text-transform: uppercase;
}
#file-list .select-channel select {
  width: 50%;
}
#file-list #file-search-form span.btn {
  margin-left: 5px;
}
#file-list thead {
  text-transform: capitalize;
}
/* /FILE LIST */
/* EMULATORS */
#cpc-emulator-container {
  text-align: center;
  /* slider root */
  /* drag handle */
  /* input field */
  /* input field while focused */
  /* cute little CSS3 selector */
  /* vertical version */
}
#cpc-emulator-container button::-moz-focus-inner,
#cpc-emulator-container input[type="reset"]::-moz-focus-inner,
#cpc-emulator-container input[type="button"]::-moz-focus-inner,
#cpc-emulator-container input[type="submit"]::-moz-focus-inner,
#cpc-emulator-container input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: guifx2;
  src: url('Guifx_v2_Transports.woff');
}
#cpc-emulator-container .guifx2 {
  font-family: guifx2;
}
#cpc-emulator-container .scrollbar-up,
#cpc-emulator-container .scrollbar-down {
  font-family: guifx2;
  line-height: 12px;
}
#cpc-emulator-container img {
  vertical-align: top;
}
#cpc-emulator-container ul {
  margin: 0;
  padding: 0;
}
#cpc-emulator-container a {
  outline: medium none;
  text-decoration: none;
}
#cpc-emulator-container a:hover {
  text-decoration: underline;
}
#cpc-emulator-container button {
  height: 26px;
}
#cpc-emulator-container .button-size1 {
  padding: 3px 7px;
  margin: 0px 3px;
}
#cpc-emulator-container .button-size2 {
  font-size: 12px;
  padding: 3px 5px;
  min-width: 11px;
}
#cpc-emulator-container .button,
#cpc-emulator-container .disabled-button,
#cpc-emulator-container .toggled-button {
  display: inline-block;
  cursor: default;
  background-color: #aaa;
  border-radius: 3px;
  vertical-align: middle;
  line-height: 16px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#cpc-emulator-container .button {
  border: 1px solid #777;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)) #aaaaaa;
}
#cpc-emulator-container .button:hover {
  border: 1px solid #48c;
  background-color: #6bd;
}
#cpc-emulator-container .button:active,
#cpc-emulator-container .toggled-button {
  border: 1px solid #368;
  background-color: #48a;
  box-shadow: inset 0px 1px 1px gray;
}
#cpc-emulator-container .disabled-button {
  border: 1px solid #bbb;
  background: #f4f4f4;
  color: #666;
}
#cpc-emulator-container #tape-record.button {
  color: darkred;
}
#cpc-emulator-container #snapshot {
  vertical-align: middle;
  margin: 0px 3px;
}
#cpc-emulator-container .tape-button {
  margin-right: -2px;
  width: 24px;
}
#cpc-emulator-container #tape-counter {
  display: inline-block;
  width: 24px;
  line-height: 16px;
  vertical-align: middle;
  font-family: monospace;
  font-weight: bold;
  border: 1px solid #bbb;
  background-color: #fff;
  padding: 2px 2px 0px 2px;
  margin: 0px 3px 0px 0px;
  color: dimgray;
}
#cpc-emulator-container .main-panel {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}
#cpc-emulator-container .control-panel {
  padding-top: 2px;
  padding-bottom: 2px;
}
#cpc-emulator-container #option-panel {
  width: 510px;
  height: 414px;
  left: 50%;
  top: 50%;
  margin-left: -255px;
  margin-top: -207px;
  position: absolute;
  background-color: white;
  padding: 12px;
  border: 4px solid #048;
  border-radius: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#cpc-emulator-container #option-panel-overlay {
  width: 100%;
  height: 100%;
  background-color: gray;
  position: absolute;
  opacity: 0.6;
}
#cpc-emulator-container #option-panel-header {
  border-bottom: 2px solid #ccc;
  color: #048;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 12px;
}
#cpc-emulator-container #settings-close {
  color: #048;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 18px;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#cpc-emulator-container #settings-close:hover {
  color: #b00;
}
#cpc-emulator-container #settings-close:active {
  color: #600;
}
#cpc-emulator-container #option-panel-content {
  text-align: left;
  margin-left: 16px;
}
#cpc-emulator-container .option-heading {
  font-size: 16px;
  font-weight: bold;
}
#cpc-emulator-container .option-name {
  font-size: 14px;
}
#cpc-emulator-container .option-flag {
  width: 38px;
  height: 26px;
}
#cpc-emulator-container .option-comment {
  color: #555;
}
#cpc-emulator-container .option-list {
  margin: 0 0 4px 14px;
}
#cpc-emulator-container .option-list input {
  vertical-align: middle;
}
#cpc-emulator-container .option-label {
  margin-left: -5px;
  margin-right: 11px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#cpc-emulator-container #status {
  color: #333;
  height: 16px;
}
#cpc-emulator-container .error-output {
  border-top: 2px dotted red;
  border-bottom: 2px dotted red;
  background-color: #f99;
  margin-bottom: 4px;
  padding: 2px;
  font-weight: bold;
}
#cpc-emulator-container .log-output {
  border-top: 2px dotted #992;
  border-bottom: 2px dotted #992;
  padding: 2px;
  background-color: #ff3;
  margin-bottom: 2px;
}
#cpc-emulator-container #screen,
#cpc-emulator-container #logo {
  position: absolute;
  left: 0;
  top: 0;
}
#cpc-emulator-container #logo {
  border: 1px solid #ccc;
  background-color: white;
  background-image: url("../img/cpc464_logo.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#cpc-emulator-container #screen,
#cpc-emulator-container #logo {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#cpc-emulator-container #screen-placeholder {
  width: 100%;
  height: 544px;
}
#cpc-emulator-container #screen-placeholder {
  display: inline-block;
  position: relative;
}
#cpc-emulator-container .reg {
  color: green;
}
#cpc-emulator-container .int {
  color: black;
}
#cpc-emulator-container .cond {
  color: purple;
}
#cpc-emulator-container #checkbox-debugger {
  margin-left: 12px;
}
#cpc-emulator-container #debugger-gui {
  font-family: 'Bitstream Vera Sans Mono', 'Lucida Console', 'droid_monospace', monospace;
  display: inline-block;
  width: 850px;
}
#cpc-emulator-container #debugger-leftcol {
  width: 310px;
  float: left;
}
#cpc-emulator-container #debugger-rightcol {
  width: 540px;
  float: left;
}
#cpc-emulator-container .debugger-portlet {
  font-size: 9pt;
  display: inline-block;
  border: 1px solid black;
  margin: 6px 0px;
  background: white;
  color: darkblue;
}
#cpc-emulator-container .border-spaced {
  border-spacing: 2px;
}
#cpc-emulator-container .dasm-table {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}
#cpc-emulator-container .dasm-theader {
  background-color: #ddf;
  border-bottom: 1px solid black;
}
#cpc-emulator-container .debugger-caption {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: #d8d8d8;
  color: black;
}
#cpc-emulator-container .dasm-theader div {
  color: black;
  font-weight: normal;
}
#cpc-emulator-container .dasm-tbody {
  display: table-cell;
}
#cpc-emulator-container .dasm-pc {
  background: lightblue;
}
#cpc-emulator-container .dasm-theader,
#cpc-emulator-container .dasm-row,
#cpc-emulator-container .mem-row {
  line-height: 14px;
}
#cpc-emulator-container .dasm-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 1px;
}
#cpc-emulator-container .dasm-row-label {
  text-align: right;
  width: 50px;
}
#cpc-emulator-container .dasm-cpu-label {
  text-align: left;
  color: darkblue;
  margin-left: 3px;
}
#cpc-emulator-container .scrollbar {
  display: table-cell;
  width: 13px;
  background-color: #d8d8d8;
  text-align: center;
  cursor: default;
}
#cpc-emulator-container .scrollbar-drag {
  border: 1px solid #888;
  height: 24px;
  background-color: #eee;
  position: relative;
}
#cpc-emulator-container .scrollbar-up,
#cpc-emulator-container .scrollbar-down {
  height: 15px;
  background-color: #eee;
  border: 1px solid #888;
}
#cpc-emulator-container #dasm-scrollbar-drag-container {
  height: 415px;
}
#cpc-emulator-container #mem-scrollbar-drag-container {
  height: 192px;
}
#cpc-emulator-container .addr {
  display: table-cell;
  width: 4em;
  border-right: 1px solid lightgray;
  padding-left: 2px;
  color: black;
}
#cpc-emulator-container .data {
  display: table-cell;
  width: 5em;
  border-right: 1px solid lightgray;
  padding-left: 2px;
  color: #666;
}
#cpc-emulator-container .dasm {
  display: table-cell;
  width: 10em;
  color: mediumblue;
  border-right: 1px solid lightgray;
  padding-left: 2px;
}
#cpc-emulator-container .tstates {
  display: table-cell;
  width: 4em;
  padding-left: 2px;
}
#cpc-emulator-container .mem-hexa {
  display: table-cell;
  width: 330px;
  border-right: 1px solid lightgray;
  padding-left: 2px;
}
#cpc-emulator-container .mem-ascii {
  display: table-cell;
  width: 10em;
  padding-left: 2px;
  color: green;
}
#cpc-emulator-container .mem-byte {
  display: table-cell;
  padding-left: 3px;
  padding-right: 3px;
}
#cpc-emulator-container .dasm-flags {
  width: 5em;
  border: 1px solid grey;
  color: black;
}
#cpc-emulator-container .dasm-word {
  width: 33px;
  border: 1px solid grey;
  color: black;
}
#cpc-emulator-container .dasm-digit {
  width: 11px;
  border: 1px solid grey;
  margin-left: 4px;
  color: black;
}
#cpc-emulator-container .dasm-byte {
  width: 17px;
  border: 1px solid grey;
  color: black;
}
#cpc-emulator-container .dasm-word-label {
  width: 33px;
  height: 12px;
}
#cpc-emulator-container .dasm-byte-label {
  width: 19px;
  height: 12px;
}
#cpc-emulator-container .dasm-color {
  display: table-cell;
  width: 17px;
  border: 1px solid grey;
  color: black;
}
#cpc-emulator-container .dasm-selected {
  box-shadow: 0px 0px 2px 2px orange;
}
#cpc-emulator-container a,
#cpc-emulator-container a:visited {
  color: #048;
}
#cpc-emulator-container .nfo {
  font-family: arial, helvetica, sans-serif;
  font-size: 9pt;
  padding: 7px 14px;
  margin-top: 7px;
  border: 1px solid #bbb;
  background: #eee;
  display: inline-block;
}
#cpc-emulator-container .check {
  vertical-align: middle;
}
#cpc-emulator-container .check-label {
  font-size: 12px;
}
#cpc-emulator-container #checkbox-fullscreen,
#cpc-emulator-container #checkbox-settings,
#cpc-emulator-container #checkbox-joystick,
#cpc-emulator-container #checkbox-sound {
  vertical-align: middle;
  display: inline-block;
  margin: 0px 2px;
  background-image: url("../img/cpcbox-sprites.png");
  height: 26px;
  width: 26px;
  border: 1px solid transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#cpc-emulator-container #checkbox-fullscreen {
  background-position: 0px -144px;
}
#cpc-emulator-container #checkbox-settings {
  background-position: 0px -216px;
}
#cpc-emulator-container #checkbox-joystick {
  background-position: 0px -36px;
}
#cpc-emulator-container #checkbox-sound {
  background-position: 0px -72px;
}
#cpc-emulator-container #checkbox-fullscreen:hover,
#cpc-emulator-container #checkbox-settings:hover,
#cpc-emulator-container #checkbox-joystick:hover,
#cpc-emulator-container #checkbox-sound:hover {
  background-color: #def;
  border: 1px solid #9cf;
}
#cpc-emulator-container #checkbox-fullscreen:active,
#cpc-emulator-container #checkbox-settings:active,
#cpc-emulator-container #checkbox-joystick:active,
#cpc-emulator-container #checkbox-sound:active {
  background-color: #bdf;
  border: 1px solid #7bf;
}
#cpc-emulator-container fieldset {
  display: inline-block;
  margin: 3px 4px 0px 4px;
  padding: 1px 7px 8px 7px;
  background-color: #eee;
  height: 37px;
}
#cpc-emulator-container .led {
  border: 1px solid darkgray;
  background-color: #400;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 6px;
}
#cpc-emulator-container #drivea-filename,
#cpc-emulator-container #driveb-filename,
#cpc-emulator-container #tape-filename,
#cpc-emulator-container #cart-filename {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #bbb;
  background-color: white;
  text-align: left;
  color: dimgray;
  padding: 2px 3px 0px 3px;
  margin: 0px 3px;
  white-space: nowrap;
  line-height: 16px;
  overflow: hidden;
}
#cpc-emulator-container #drivea-filename,
#cpc-emulator-container #driveb-filename,
#cpc-emulator-container #cart-filename {
  min-width: 170px;
  max-width: 640px;
}
#cpc-emulator-container #tape-filename {
  min-width: 140px;
  max-width: 506px;
}
#cpc-emulator-container #drivea-zipselect,
#cpc-emulator-container #driveb-zipselect,
#cpc-emulator-container #tape-zipselect,
#cpc-emulator-container #cart-zipselect {
  vertical-align: middle;
  min-width: 170px;
  margin: 0px 3px;
}
#cpc-emulator-container #drivea-sideselect,
#cpc-emulator-container #driveb-sideselect,
#cpc-emulator-container #tape-sideselect,
#cpc-emulator-container #cart-sideselect {
  color: dimgray;
}
#cpc-emulator-container #drivea-eject,
#cpc-emulator-container #driveb-eject,
#cpc-emulator-container #tape-eject,
#cpc-emulator-container #cart-eject {
  margin-left: 5px;
}
#cpc-emulator-container legend {
  text-align: left;
}
#cpc-emulator-container label {
  vertical-align: middle;
  display: inline-block;
}
#cpc-emulator-container .regcheck-input {
  margin: 0;
  vertical-align: middle;
}
#cpc-emulator-container #drivea-input,
#cpc-emulator-container #driveb-input,
#cpc-emulator-container #tape-input,
#cpc-emulator-container #cart-input {
  position: absolute;
  top: -100px;
}
#cpc-emulator-container .slider {
  background: url("../img/volume-slider.png") no-repeat 0 -5px;
  width: 64px;
  height: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
#cpc-emulator-container .progress {
  background-color: #555;
  height: 2px;
  bottom: 2px;
  position: absolute;
  width: 0;
}
#cpc-emulator-container .handle {
  background: transparent url("../img/volume-slider.png") no-repeat scroll -67px 0;
  height: 13px;
  position: absolute;
  top: -5px;
  width: 12px;
}
#cpc-emulator-container .range {
  font-size: 10px;
  border: 0;
  background: none;
  width: 30px;
  margin: -5px 0 10px 0;
  float: left;
  color: #fff;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#cpc-emulator-container .range:focus {
  background-color: #000;
}
#cpc-emulator-container .range[readonly]:focus {
  background-color: transparent;
}
#cpc-emulator-container .vertical .slider {
  background: url(../img/small-vertical.png) no-repeat -4px -17px;
  height: 94px;
  width: 5px;
  margin: 5px 13px 0 0;
}
#cpc-emulator-container .vertical .handle {
  background: transparent url(../img/small-vertical.png) no-repeat scroll -1px -2px;
  top: 0;
  margin-left: -2px;
}
#cpc-emulator-container .vertical .range {
  margin: -13px 13px 0 -30px;
}
#nes-emulator-container {
  width: 512px;
  margin: 0 auto;
}
#nes-emulator-container #emulator #nes-roms {
  margin-bottom: 10px;
  margin-top: 5px;
}
#nes-emulator-container #emulator #nes-roms select {
  background: white;
}
#nes-emulator-container #emulator #nes-controls {
  margin-bottom: 5px;
}
#atari-container #javatari-screen {
  margin: 10px auto;
}
#dosbox-dialog-container {
  padding: 0;
}
/* /EMULATORS */
/* STYLE EXTRA */
md-content.md-default-theme,
md-content {
  background-color: transparent;
  padding-top: 0px;
}
body {
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  font-size: 13px;
  color: #3d464d;
  font-weight: normal;
}
.sort-icon {
  font-size: 9px;
  margin-left: 5px;
}
th {
  cursor: pointer;
}
.header {
  min-height: 120px;
}
.nes-controls {
  display: none;
}
.nes-roms {
  display: none;
}
.imgFilehubLogo {
  border: 1px solid #dbdbdb;
  border-radius: 999px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.channel-menu {
  height: auto;
  background-color: #000;
  padding: 8px 18px;
}
.channel-menu select {
  width: auto;
  float: left;
}
.channel-menu label {
  float: left;
  display: block;
  line-height: 30px;
  margin-right: 10px;
  text-transform: uppercase;
  color: #ccc;
}
/* /STYLE EXTRA */
.select-inner-file-dialog .file-item {
  width: 33%;
  float: left;
}
