

md-content.md-default-theme, md-content
{
	background-color: transparent;
	padding-top: 0px;
}


body{
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 13px;
    color: #3d464d;
    font-weight: normal;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}

.header { 
    min-height: 120px;
}

.nes-controls
{
    display: none;
}

.nes-roms
{
 display: none;   
}

.imgFilehubLogo
{
    border: 1px solid #dbdbdb;
    border-radius: 999px;
    width: 90px;
    height:90px;
    float: left;
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    
}