.sidebar {
    position : absolute;
    top : 0;
    left : -160px;;
    transition : 100ms left;
}
#navigation-toggle {
        position : absolute;
        left : 160px;
        background : rgba(3,159,244,.95);
        color : white;
        text-decoration : none;
        padding : 20px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 100px;

}
.navigation-items a:hover {
    background-color : #222;
}


.imgFilehubLogo
{
    border: 1px solid #dbdbdb;
    border-radius: 999px;
    width: 50px;
    height:50px;
    margin-right: 10px;
    
}

.imgFilehubLogoBig
{
    width: 100px;
    height:100px;
}
.description
{
    margin: 0 auto;
    display: block;
    width: 300px;
}

.itemLoaded 
{    
   border: 3px solid #32cf32;
}

.clsChannelHidden
{
    text-decoration: line-through;
}

md-dialog.fullscreen-dialog {
    max-width: 100%;
    max-height: 100%;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

/* css dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    background-color: #000;
    color: #777;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.dropdown ul li a
{
    padding:10px 20px;
    color:#777;
}
