<!DOCTYPE html>
<html ng-app="PPLOAD_MASTER" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

	<!-- CSS -->
		<!-- lib -->
		<link href="../assets/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<!-- app -->
		<link href="../assets/master/css/style.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/channel/css/style.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/channel/css/style_extra.css" rel="stylesheet" type="text/css"/>
	<!-- /CSS -->

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">

    <!-- wrapper -->
    <div id="wrapper" ng-if="channels" ng-class="{toggled:toggled}">

        <!-- sidebar -->
        <sidebar></sidebar>
        <!-- /sidebar -->

        <!-- page content -->
        <div id="page-content-wrapper" style="padding-right: 0;">
            <div class="container-fluid" style="padding-left: 0px; padding-right: 0;">
                <div class="row">
                    <div class="col-lg-12">
	
					<!-- SITE HEADER -->
					<site-header></site-header>
					<!-- /SITE HEADER -->

					<section class="wrapper" id="user-channel-wrapper" >

						<div layout="column" ng-show="loading" flex>
							<div layout="column" flex="100" style="text-align:center;">
								<span><b ng-bind="msg"></b></span>
							</div>
							<div layout="row" flex="100" layout-align="space-around">
								<md-progress-circular md-mode="indeterminate"></md-progress-circular>
							</div>
						</div>

						<section ng-if="channels" ng-hide="loading" ng-controller="ChannelMainCtrl" ng-init="init()">

							<!-- CHANNEL HEADER -->
							<channel-site-header></channel-site-header>
							<!-- /CHANNEL HEADER -->

							<!-- MAIN -->
							<section class="container edit-item-view" layout="column" 
								ng-controller="ItemsCtrl" ng-if="chJson" ng-init="getItem()">

								<!-- loading -->
								<div layout="column" ng-show="loading" flex>
									<div layout="column" flex="100" style="text-align:center;"><b ng-bind="msg"></b></div>
									<div layout="row" flex="100" layout-align="space-around">
										<md-progress-circular md-mode="indeterminate"></md-progress-circular>
									</div>
								</div>
								<!-- /loading -->

								<!-- edit item section -->
								<md-content class="edit-item-section" edit-item  ng-init="init()" ng-hide="loading" ng-if="item" layout="row" flex>
									<!-- item sidebar -->
									<side-bar></side-bar>
									<!-- /item sidebar -->
									<!-- item main -->
									<section flex="70" layout="column" class="item-main" style="position: relative;" id="item-upload-form" layout-padding>
						        		<!-- game interface -->
						        		<game-interface ng-if="item.media_type === 'game'"></game-interface>
						        		<!-- /game interface -->
						        		<!-- video interface -->
						        		<video-interface ng-if="item.media_type === 'video'"></video-interface>
						        		<!-- /video interface -->
							            <md-button flex="100" style="margin: 16px 0;" class="md-primary md-raised edgePadding pull-right" ng-click="onUpdateItem()">
							            	<label>Update {{item.media_type}}</label>
							            </md-button>
									</section>
									<!-- /item main -->
								</md-content>
								<!-- /edit item section -->

							</section>
							<!-- /MAIN -->

						</section>

					</section>

                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

    </div>
    <!-- wrapper -->

	<!-- JS -->

		<!-- zeronet -->
		<script type="text/javascript" src="../assets/lib/zeronet/class.js"></script>
		<script type="text/javascript" src="../assets/lib/zeronet/zeroframe.js"></script>
		<script type="text/javascript" src="../assets/lib/zeronet/zerochat.js"></script>

		<!-- jquery -->
		<script type="text/javascript" src="../assets/lib/jquery/jquery.min.js"></script>

		<!-- angular -->
		<script type="text/javascript" src="../assets/lib/angular/angular.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular/angular-route.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular/angular-animate.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular/angular-aria.min.js"></script>
		<script type="text/javascript" src="../assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="../assets/lib/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="../assets/lib/moment/moment.js"></script>
		<script type="text/javascript" src="../assets/lib/angular-moment/angular-moment.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/identicon/pnglib.js"></script>
	    <script type="text/javascript" src="../assets/lib/identicon/identicon.js"></script>
	    <script type="text/javascript" src="../assets/lib/dropzone/dropzone.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular-identicon/angular-identicon.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular-fullscreen/angular-fullscreen.js"></script>
        <script type="text/javascript" src="../assets/lib/util/dirPagination.js"></script>

		<!-- jszip -->
		<script type="text/javascript" src="../assets/lib/jszip/dist/jszip.min.js"></script>
		<script type="text/javascript" src="../assets/lib/jszip/dist/jszip.utils.js"></script>

		<!-- videogular -->
		<script type="text/javascript" src="../assets/lib/videos/videogular/videogular.js"></script>
		<script type="text/javascript" src="../assets/lib/videos/videogular-controls/vg-controls.js"></script>
		<script type="text/javascript" src="../assets/lib/videos/videogular-buffering/vg-buffering.js"></script>
		<script type="text/javascript" src="../assets/lib/videos/videogular-overlay-play/vg-overlay-play.js"></script>
		<script type="text/javascript" src="../assets/lib/videos/videogular-poster/vg-poster.js"></script>

		<!-- app -->
		<script type="text/javascript" src="../app/application.js"></script>		
		<script type="text/javascript" src="../app/master/core/controllers/main.ctrl.js"></script>
		<script type="text/javascript" src="../app/master/core/directives/sidebar.directive.js"></script>
		<script type="text/javascript" src="../app/master/core/directives/site-header.directive.js"></script>
		<script type="text/javascript" src="../app/master/core/directives/site-search.directive.js"></script>
		<script type="text/javascript" src="../app/master/core/services/item.service.js"></script>
		<script type="text/javascript" src="../app/channel/core/controllers/main.ctrl.js"></script>
		<script type="text/javascript" src="../app/channel/core/controllers/items.ctrl.js"></script>		
		<script type="text/javascript" src="../app/channel/core/directives/channel-site-header.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/my-channel.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/side-bar.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/edit-item.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/image-upload.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/dropzone.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/item-form.directive.js"></script>		
		<script type="text/javascript" src="../app/channel/core/directives/zip-content.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/filters/file-size.filter.js"></script>

		<!-- app - games -->
		<script type="text/javascript" src="../app/channel/games/directives/game-interface.directive.js"></script>		
		<script type="text/javascript" src="../app/channel/games/directives/executable-file-input.directive.js"></script>
		<script type="text/javascript" src="../app/master/games/directives/dosbox.directive.js"></script>
		<script type="text/javascript" src="../app/master/games/directives/nes-emulator.directive.js"></script>
		<script type="text/javascript" src="../app/master/games/directives/atari-emulator.directive.js"></script>
		<script type="text/javascript" src="../app/master/games/directives/cpc-emulator.directive.js"></script>

		<!-- app - videos -->
		<script type="text/javascript" src="../app/channel/videos/directives/video-interface.directive.js"></script>
		<script type="text/javascript" src="../app/master/videos/directives/video-player.directive.js"></script>

	<!-- /JS -->  

</body>

</html>