<!DOCTYPE html>
<html ng-app="PPLOAD_MASTER" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

	<!-- CSS -->
		<!-- lib -->
		<link href="../assets/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<!-- app -->
		<link href="../assets/master/css/style.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/channel/css/style.css" rel="stylesheet" type="text/css"/>
	<!-- /CSS -->

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">

    <!-- loading -->
    <div id="main-loading" layout="column" ng-show="loading" flex>
        <div layout="column" flex="100" style="text-align:center;">
            <span><b ng-bind="msg"></b></span>
        </div>
        <div layout="row" flex="100" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
    <!-- /loading -->

    <!-- wrapper -->
    <div id="wrapper" ng-class="{toggled:toggled}">
        <!-- sidebar -->
        <sidebar></sidebar>
        <!-- /sidebar -->
        <!-- page Content -->
        <div id="page-content-wrapper" style="padding-right: 0;">
            <div class="container-fluid" style="padding-left: 0px; padding-right: 0;">
                <div class="row">

                    <div class="col-lg-12">

						<!-- SITE HEADER -->
						<site-header></site-header>
						<!-- /SITE HEADER -->
						
						<section class="wrapper" id="user-channel-wrapper" ng-if="!loading">

							<div layout="column" ng-show="loading" flex>
								<div layout="column" flex="100" style="text-align:center;">
									<span><b ng-bind="msg"></b></span>
								</div>
								<div layout="row" flex="100" layout-align="space-around">
									<md-progress-circular md-mode="indeterminate"></md-progress-circular>
								</div>
							</div>

							<section ng-if="channels" ng-hide="loading" class="wrapper" id="user-channel-wrapper" ng-controller="ChannelMainCtrl" ng-init="init()">


								<!-- CHANNEL HEADER -->
								<channel-site-header ng-if="u_sites"></channel-site-header>
								<!-- /CHANNEL HEADER -->

								<section ng-if="u_sites" ng-controller="ItemsCtrl" layout="row" class="container">

								    <!-- MAIN -->
								    <md-content ng-if="chJson" ng-hide="loading" flex layout-padding class="main-content">
								    <files-upload></files-upload>
								    </md-content>
								    <!-- /MAIN -->

								</section>
							
			                    <div  ng-if="no_sites">
				                    <p style="text-align: center; margin-top: 51px;">
										You dont seem to have any account registered yet.<br/>
										If you like to join, please read our FAQ
				                    </p>
			                    </div>

							</section>

						</section>

                    </div>

                </div>
            </div>
        </div>

    </div>

	<!-- JS -->

		<!-- zeronet -->
		<script type="text/javascript" src="../assets/lib/zeronet/class.js"></script>
		<script type="text/javascript" src="../assets/lib/zeronet/zeroframe.js"></script>
		<script type="text/javascript" src="../assets/lib/zeronet/zerochat.js"></script>


		<!-- jquery -->
		<script type="text/javascript" src="../assets/lib/jquery/jquery.min.js"></script>

		<!-- angular -->
		<script type="text/javascript" src="../assets/lib/angular/angular.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular/angular-route.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular/angular-animate.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular/angular-aria.min.js"></script>
        <script type="text/javascript" src="../assets/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>	    
		<script type="text/javascript" src="../assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="../assets/lib/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="../assets/lib/moment/moment.js"></script>
		<script type="text/javascript" src="../assets/lib/angular-moment/angular-moment.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/identicon/pnglib.js"></script>
	    <script type="text/javascript" src="../assets/lib/identicon/identicon.js"></script>
	    <script type="text/javascript" src="../assets/lib/dropzone/dropzone.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular-identicon/angular-identicon.min.js"></script>
	    <script type="text/javascript" src="../assets/lib/angular-fullscreen/angular-fullscreen.js"></script>
        <script type="text/javascript" src="../assets/lib/util/dirPagination.js"></script>

		<!--uitls -->		
		<script type="text/javascript" src="../assets/lib/util/dirPagination.js"></script>

		<!-- jszip - reading zip files -->
		<script type="text/javascript" src="../assets/lib/jszip/dist/jszip.min.js"></script>
		<script type="text/javascript" src="../assets/lib/jszip/dist/jszip.utils.js"></script>
		
		<!-- videogular -->
		<script type="text/javascript" src="../assets/lib/videos/videogular/videogular.js"></script>
		<script type="text/javascript" src="../assets/lib/videos/videogular-controls/vg-controls.js"></script>
		<script type="text/javascript" src="../assets/lib/videos/videogular-buffering/vg-buffering.js"></script>
		<script type="text/javascript" src="../assets/lib/videos/videogular-overlay-play/vg-overlay-play.js"></script>
		<script type="text/javascript" src="../assets/lib/videos/videogular-poster/vg-poster.js"></script>

		<!-- app -->
		<script type="text/javascript" src="../app/application.js"></script>		
		<script type="text/javascript" src="../app/master/core/controllers/main.ctrl.js"></script>
		<script type="text/javascript" src="../app/master/core/directives/categories.directive.js"></script>
		<script type="text/javascript" src="../app/master/core/directives/sidebar.directive.js"></script>
		<script type="text/javascript" src="../app/master/core/directives/site-header.directive.js"></script>
		<script type="text/javascript" src="../app/master/core/directives/site-search.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/controllers/main.ctrl.js"></script>
		<script type="text/javascript" src="../app/channel/core/controllers/items.ctrl.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/channel-site-header.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/my-channel.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/files-upload.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/category-select-menu.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/dropzone.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/directives/file-list.directive.js"></script>
		<script type="text/javascript" src="../app/channel/core/filters/file-size.filter.js"></script>
		<script type="text/javascript" src="../app/master/core/services/item.service.js"></script>
		<script type="text/javascript" src="../app/master/core/services/channel.service.js"></script>
        <script type="text/javascript" src="../app/master/core/services/central.service.js"></script>
		
	<!-- /JS -->  

</body>

</html>
